.lds-dual-ring {
  display: inline-block;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.lds-dual-ring > div {
  display: block;
  width: 64px;
  height: 64px;
  margin: auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loader-page {
  position: relative;
  z-index: 500;
  background: var(--color-dark);
}

.movie-loader {
  max-width: 100%;
  width: 98%;
  margin-bottom: 0.5rem;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--color-black);
}

.movies-category-loader {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.loader-alert {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  text-align: center;
}

.loader-alert-text {
  
  margin-bottom: 1.5rem;
  font-weight: 500;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
