.lds-dual-ring {
  display: inline-block;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.lds-dual-ring > div {
  display: block;
  width: 64px;
  height: 64px;
  margin: auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loader-page {
  position: relative;
  z-index: 500;
  background: var(--color-dark);
}

.movie-loader {
  background: var(--color-movie-loader);
  width: 100%;
  max-width: calc(100% - 155px);
  height: 25px;
  align-self: flex-end;
  margin-right: 1.8rem;
  box-shadow: 0 0 2px var(--color-movie-loader);
  animation-name: movie-loader;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: all 0.3s ease;
}

@keyframes movie-loader {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.movie-loader:not(:last-child) {
  margin-bottom: 1rem;
}

.movie-container {
  overflow: hidden;
  max-width: 100%;
  width: 98%;
  margin-bottom: 0.5rem;
  height: 170px;
  display: flex;
  background: var(--color-black);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 120px;
  height: 100%;
  background: var(--color-movie-loader);
  box-shadow: 0 0 2px var(--color-movie-loader);
}

.movies-category-loader {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.loader-alert {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  text-align: center;
}

.loader-alert-text {
  margin-bottom: 1.5rem;
  font-weight: 500;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
