.form-system-entry {
  width: 100%;
  margin: 0 auto;
  padding: 3.5rem;
  background: #0f2027;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  user-select: none;
}

.label-form-system-entry {
  color: var(--color-gray-light);
  font-size: 1.2rem;
}

input.input-form-system-entry {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--color-gray-light);
  border-radius: 0;
  color: var(--color-white);
}

input.input-form-system-entry:active,
input.input-form-system-entry:focus {
  outline: 0;
  box-shadow: none;
}

.field-system-entry {
  margin-top: 3rem;
}

body .field:not(:last-child) {
  margin-bottom: 3rem;
}

.link-system-entry {
  display: block;
  margin-top: 1rem;
  color: var(--color-white);
  font-weight: lighter;
}

.link-system-entry > i{
  margin-left: 5px;
}