@media screen and (min-width: 1200px) {
  .container {
    padding-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .columns-xl-reverse {
    flex-direction: column-reverse;
  }

  .app-movie {
    margin-top: 6rem;
  }

  .error {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}
