@media screen and (max-width: 767px) {
  .columns-sm-reverse {
    flex-direction: column-reverse;
  }

  .error {
    flex-direction: column;
    font-size: var(--font-size-sm);
  }

  .error-icon > i {
    font-size: 2.9rem;
  }

  .error-body {
    margin-top: 1rem;
    margin-left: 0;
    text-align: center;
  }

  .error-page-body {
    text-align: center;
  }

  .error-page-image {
    display: block;
    margin: auto;
  }
}
