.nav-menu-toggle {
  display: none;
}
.navbar-nav-toggle {
  top: 30px;
  right: 30px;
  position: absolute;
  font-size: 2em;
  display: none;
}

.navbar-nav-toggle > label,
.nav-menu-toggle > label {
  cursor: pointer;
}

#navbar-nav-toggle {
  display: none;
}

.nav-menu-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.5em;
  cursor: pointer;
}
