.home-movies-column {
  width: 410px;
  max-width: 100%;
}

.home-movie-coverpage {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  height: 100%;
  width: 100%;
}

.home-movie-desc {
  padding: 1rem;
  background-size: cover;
  position: relative;
  width: 300px;
  margin-top: auto;
  background-size: cover;
}

.home-movie-desc::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.712);
}

.home-movie-desc > div {
  z-index: 2;
  position: relative;
}

.home-movie-desc p {
  font-weight: lighter;
  line-height: 1.6;
  font-size: 12px;
}

.home-movie-title {
  font-family: "Secular One", sans-serif;
  font-weight: lighter;
  margin-bottom: 0.8rem;
}

.home-movie-desc-column {
  display: flex;
}
